body {
  background-image: url("imggg1.jpg");
  background-size: cover;
  background-position: center;
  position: relative; /* make sure the body element is positioned relative */
  text-align: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.65
  ); /* set the background color and opacity as needed */
  z-index: -1; /* make sure the pseudo-element is positioned behind the body content */
}
/* .relative .cursive-text {
  display: inline-block;
  animation: write 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes write {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

.cursive {
  font-family: "Kaushan Script", cursive;
  animation: write 1s linear;
  color: #0891b2;
}

@keyframes write {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
